<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Show</title>
</head>
<body>

    <h3 th:text="${post.title}"></h3>
    <h3 th:text="${post.body}"></h3>
    <h3 th:text="${post.imagePath}"></h3>

    <h3 th:text="${post.author.email}"></h3>


    <a th:href="@{'/posts/' + ${post.id} + '/edit'}">Edit Post</a>

    <form th:action="@{'/posts/' + ${post.id} + '/delete'}" th:method="POST">
        <button>Delete</button>
    </form>

</body>
</html>